<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <h1>A wonderful form !</h1>

  <form [formGroup]="formTeam">

    <input type="text" formControlName="name">
    <br>
    <button type="button" (click)="addMember()">Add Member</button>
    <button type="button" (click)="addMemberToStore()">Add Member from store</button>
    <br>

    <div formArrayName="members">
      <div *ngFor="let member of members.controls; let i=index" [formGroupName]="i" >
        <h3>{{ '#' + i }}</h3>
        <input type="text" formControlName="name">
        <input type="number" formControlName="age">
      </div>
      <br/>
    </div>

  </form>

</div>
